
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.price {
  text-align: center;
}
.price .content .box {
  width: 31.5%;
  padding: 30px;
  border-radius: 10px;
}
.price button {
  margin-bottom: 20px;
}
.price .box:nth-child(1) .topbtn button,
.price .box:nth-child(3) .topbtn button {
  display: none;
}
.price h3 {
  font-size: 22px;
}
.price h1 {
  font-size: 60px;
}
.price h1 span {
  font-size: 30px;
  font-weight: 500;
}
.price ul {
  margin-top: 40px;
}
.price ul li {
  display: flex;
  margin-bottom: 20px;
}
.price label {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.price .btn5 {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .price .content {
    flex-direction: column;
  }

  .price .content .box {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
}
.Inputtake{
  width: 50%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  position: relative;
  margin-top: 20px;
}
.Inputtake input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: white;
  font-family: "Poppins", sans-serif;

}

.block {
  padding: 3rem;
  border: 1px solid white;
  background-color: white;
  width: 50%;
  border-radius: 1rem;
  margin: 2rem auto 0 auto;
  transform: translateY(-50px); /* Initially move the block upwards */
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out; /* Apply transition for opacity and transform */
}



.Blocksshown h3 h4{
  font-family: "Poppins", sans-serif;
  /* color: white; */
  background-color: white;
}





input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.placeholder.active {
  top: 0;
  font-size: 12px;
  color: #666;
}

